*{
    margin: 0px;
    padding: 0px;
}


/* General */

body{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/* Nav */

nav{
    display: grid;
    grid-column: 1/11;
    text-align: start;
    padding: 0.5%;
    background-color: #EEE;
    border-bottom: #AAA solid 2px;
}

ul{
    list-style: none;
    column-gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.homeButton{
    color: black;
    text-decoration: none;
}

.navLink{
    color: black;
}


/* Sidebar */

section{
    grid-column: 1/2;
    background-color: #EEE;
    padding: 5%;
    height: 100%;
    flex: 1;
}

.lists{
    margin: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Main */

main{
    grid-column: 2/11;
    display: flex;
    flex-direction: column;
}

.homePageArea{
    width: 100%;
    /*background: rgb(96,118,164);
    background: linear-gradient(0deg, rgba(96,118,164,1) 0%, rgba(210,233,255,1) 100%);*/
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    padding: 5%;
}

.homePageText{
    text-align: center;
}


/* Footer */

footer{
    display: grid;
    grid-column: 1/11;
    text-align: start;
    padding: 0.5%;
    background-color: #EEE;
    border-top: #AAA solid 2px;
    height: 100%;
}
