*{
    margin: 0px;
    padding: 0px;
}


/* General */

body{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/* Nav */

nav{
    display: grid;
    grid-column: 1/11;
    text-align: start;
    padding: 0.5%;
    background-color: #EEE;
    border-bottom: #AAA solid 2px;
}

.navUl{
    list-style: none;
    column-gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.homeButton{
    color: black;
    text-decoration: none;
}

.navLink{
    color: black;
}


/* Sidebar */

section{
    grid-column: 1/3;
    background-color: #EEE;
    padding: 5%;
    height: 100%;
    flex: 1;
}

.lists{
    list-style: none;
    margin: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Main */

main{
    grid-column: 3/11;
    display: flex;
    flex-direction: column;
}

.mainAlt{
    grid-column: 3/8;
    display: flex;
    flex-direction: column;
}

.homeImgBar{
    grid-column: 9/11;
    max-width: 100%;
}

.homeImg{
    width: 100%;
}

.homePageArea{
    width: 100%;
    padding: 5%;
}

.homePageText{
    text-align: center;
}

.subHomePageArea{
    margin-top: 1%;
}


/* Footer */

footer{
    display: grid;
    grid-column: 1/11;
    text-align: start;
    padding: 0.5%;
    background-color: #EEE;
    border-top: #AAA solid 2px;
    height: 100%;
}

/* CV section */

.cvArea{
    border: 2px black solid;
    border-radius: 10px;
    padding: 3%;
    margin: 1%;
}

details{
    margin: 2%;
}

summary{
    font-size: 1.5em;
}

.cvUl{
    list-style: none;
    column-gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    border-bottom: 1px solid #b4b4b4;
}

.cvLi{
    font-size: 1.2em;
}
